/* BERITA DETAIL PAGE */

.berita-detail-content{
    margin-top: 20vh;
    height: 290vh;
}

.berita-detail-image{
    width: 100%;
    height: 60vh;
}

.artikel-lain{
    width: 100%;
    height: 30vh;
}

/* BERITA DETAIL PAGE END*/

