/* BERITA DETAIL PAGE */

.berita-title{
    font-weight: 600;
    font-size: 34px;
}

.berita-detail-content{
    padding-top: 25vh;
    height: auto;
}

.berita-detail-image{
    width: 100%;
    max-height: 60vh;
}

.artikel-lain{
    width: 100%;
    height: 30vh;
}

/* BERITA DETAIL PAGE END*/

