<div #topElement></div>
<div class="container berita-detail-content" style="padding-bottom: 50vh;">
    <div class="row">
        <h2 class="text-center berita-title">{{beritaDetails.title}}</h2>
    </div>
    <div class="row mt-5">
        <p class="text-end a-tag">Date {{beritaDetails.date}}</p>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <img [src]="beritaDetails.photos.length > 0 ? getImageUrl(beritaDetails.photos[0]?.data) : getErrorImageUrl()"
            class="berita-detail-image" alt="{{ beritaDetails.title }} Image"
            (error)="handleImageError($event, beritaDetails)" />
        </div>
        <div class="col-xl-12 mt-5 text-justify">
            <p *ngFor="let desc of beritaDetails.description">
                {{ desc }}
            </p>
        </div>
        
    </div>

    <div class="row mt-5">
        <p class="text-start sub-title">Artikel Lain</p>
        <div class="swiper-container container2 mt-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide col-3" *ngFor="let berita of beritas">
                    <div class="card">
                        <img [src]="berita.photos.length > 0 ? getImageUrl(berita.photos[0]?.data) : getErrorImageUrl()"
                            class="artikel-lain" alt="{{ berita.title }} Image"
                            (error)="handleImageError($event, berita)" />
                        <div class="card-body text-justify">
                            <h5 class="card-title title-clamp2">{{ berita.title }}</h5>
                            <p class="card-text"><small class="text-body-secondary">{{ berita.date }}</small></p>
                            <p class="card-text des-clamp ">{{ berita.short_description }}</p>
                            <div class="d-flex justify-content-end align-items-end">
                                <a [routerLink]="'/beritaDetail-page/' + berita._id" class="btn btn-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>