<div class="tahuraTransition">
  <div class="tahuraFooter">
  </div>
</div>
<footer id="footer">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-9 text-justify">
          <p>Tahura Mangrove adalah sebuah sumber daya digital yang didedikasikan untuk mendokumentasikan dan mempromosikan ekosistem mangrove di Ngurah Rai. 
            Situs web ini berfungsi sebagai perpustakaan komprehensif, menyediakan informasi rinci tentang berbagai flora dan fauna yang mendiami 
            lingkungan unik ini.</p>
          <ul>
            <li><a href="#"><i class="fa-regular fa-envelope"></i><span class="ms-3"></span>infodklh@baliprov.go.id</a></li>
            <li><a href="#"><i class="fa-sharp fa-solid fa-phone-volume"></i><span class="ms-3"></span>(0361) 235036; 225663</a></li>
          </ul>
        </div>
        <div class="col-md-3 mt-5">
          <div class="d-flex justify-content-center align-items-center">
            <div class="p-2">
              <a href="https://www.instagram.com/dklhprovbali?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-instagram fa-2xl"></i></a>
            </div>
            <div class="p-2">
              <a href="https://www.facebook.com/DKLHprovbali/?locale=id_ID" class="social-ani"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
            </div>
            <div class="p-2">
              <a href="https://x.com/DKLH_bali" class="social-ani"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12 text-center">
          <p>@copyright 2024 Taman Hutan Mangrove</p>
        </div>
      </div>
    </div>
</footer>