/* BERITA PAGE */

.berita-page-background {
    background-image: url(../../assets/Images/forest-background2-03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.berita-page-content {
    height: auto;
}

.artikel-lain {
    width: 100%;
    height: 30vh;
}

.berita-nav li {
    margin: 0 1vh 0 0;
}

.berita-nav .page-item.active .page-link {
    background-color: #1C4231;
    border-color: #1C4231;
    color: #FBFDE7;
}

.berita-nav li a {
    color: #1C4231;
    background-color: #FBFDE7;
    border-color: #FBFDE7;
}

.berita-title {
    font-size: 24px;
    font-weight: 600;
}


.berita-img-size {
    width: 100%;
    height: 35vh;
}

/* BERITA PAGE END */