<body>
    <div class="tahuraBackground">
      <div class="detail" *ngIf="flora || fauna">
        <div class="container">
          <div class="row pt-3">
            <div class="col-md-4" *ngIf="flora || fauna">
              <div class="swiper-container detail-container detailSwiper">
                <div class="swiper-wrapper">
                  <div *ngFor="let photo of (flora?.photos || fauna?.photos)" class="swiper-slide detail-slide">
                    <img [src]="getImageUrl(photo.data)" alt="Detail Image">
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="swiper-container detail-container swiper-container-thumbs detail-thumbs mySwiperThumbs">
                <div class="swiper-wrapper">
                  <div *ngFor="let photo of (flora?.photos || fauna?.photos)" class="swiper-slide detail-slide">
                    <img [src]="getImageUrl(photo.data)" alt="Detail Thumbnail">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-container">
              <h2 class="pt-5">{{ flora?.name || fauna?.name }}</h2>
              <p>{{ flora?.descriptions || fauna?.descriptions }}</p>
            </div>
          </div>
          <div class="row text-center">
            <a [routerLink]="['/']" class="button mb-3">BACK</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  