<div class="tahuraBackground" style="padding-bottom: 30vh; padding-top: 2vh;">
  <div class="detail">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Main Swiper -->
          <div class="swiper-container detail-container detailSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide detail-slide" *ngFor="let photo of (flora?.photos || fauna?.photos); let i = index">
                <img [src]="getImageUrl(photo.data)" alt="Detail Image"
                    (error)="handleImageError($event, photo)" />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

          <!-- Thumbs Swiper -->
          <div class="swiper-container detail-container swiper-container-thumbs detail-thumbs mySwiperThumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide detail-slide2" *ngFor="let photo of (flora?.photos || fauna?.photos); let i = index" (click)="updateMainPhoto(i)">
                <img [src]="getImageUrl(photo.data)" alt="Detail Thumbnail" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-container text-justify">
          <h2 class="pt-5">{{ flora?.name || fauna?.name }} <span style="font-style: italic;">({{ flora?.nameIlmiah || fauna?.nameIlmiah }})</span></h2>
          <p>{{ flora?.description || fauna?.description }}</p>
        </div>
      </div>
      <div class="row text-center">
        <a [routerLink]="['/']" class="button mb-3">BACK</a>
      </div>
    </div>
  </div>
</div>
