.swiper-container {
    overflow: hidden; /* This makes the container clip its content */
    padding-bottom: 50px; /* Add padding to accommodate the pagination */
    position: relative; /* To position the pagination correctly */
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: #1C4231; /* Change button color as needed */
}


.swiper-scrollbar {
    --swiper-scrollbar-sides-offset: 45%;
    --swiper-scrollbar-bg-color: lightblue;
    --swiper-scrollbar-drag-bg-color: #1C4231;
    --swiper-scrollbar-size: 4px;
}
.swiper-pagination1, .swiper-pagination3{
    --swiper-pagination-color: #1C4231;
}

.img-slider{
    width: 40vh;
    height: 40vh; 
}
 
.img-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire slide area without distortion */
}

.detail-container {
    width: 100%;
    height: 80vh;
    margin-bottom: 1vh;
}

.detail-thumbs {
    width: 100%;
    height: auto;
}

.detail-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.detail-slide2 img{
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-radius: 5px;
}


.swiper-slide-thumb-active {
    border: 2px solid #1C4231;
    height: fit-content;
    border-radius: 5px;
}

.swiper-button-prev:after, 
.swiper-button-next:after{
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 5px;
    border-radius: 15%;
}

.hidden {
    display: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #1C4231;
}

.text-justify p{
    text-align: justify;
}

.no-padding{
    margin: 0;
    padding: 0;
}

.title{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
}

.section-title{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    color: #1C4231;
}

.sub-title{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    color: #1C4231;
}


.a-tag{
    text-decoration: none;
    color: #1C4231;
}

.berita-image{
    width: auto;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

.terkini-image{
    border-radius: 5px 5px 0px 0px;
    height: 30vh;
}


/* NAVBAR SECTION */

.navbar{
    transition: all 0.5s;
}
.navbar-scrolled{
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}
.navbar-scrolled a, .navbar-scrolled li{
    color: #1C4231;   
}
.navbar li{
    margin: 0 5vh 0 0;
}
@media screen and (max-width: 1000px){
    .navbar li{
        margin: 0 0 0 0;
    }
}
.navbar-font a{
    font-size: 18px;
    font-weight: 600;
}
/* NAVBAR END */

/* CARD HOVER SECTION */

.title-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title-clamp2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.des-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.card-items {
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
    border-radius: 1rem;
}
.intro {
    height: 180px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.8240546218487395) 0%, rgba(0,0,0,0.7456232492997199) 80%, rgba(0,0,0,0.644782913165266) 87%, rgba(0,0,0,0.4767156862745098) 94%, rgba(255,255,255,0) 100%);
    color: white;   
    bottom: 0;
    transition: .5s;
}

.intro p{
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.intro-title-panel{
    height: 80px;
    margin-top: 10px;
    padding-left: 10px;
}

.intro-title {
    font-size: 28px;
    font-weight: 600;
}

.sub-intro-title{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.intro-des {
    padding-left: 10px;
    font-size: 16px;
    text-align: justify;
    padding-right: 10px;
}

.intro-btn{
    margin-left: 10px;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}

.card-items img{
    height: 500px;
    width: 100%;
}

@media screen and (max-width:1000px) {
    .card-items img{
        width: 100%;
        height: 300px;
    }
}

.card-items:hover {
    cursor: pointer;
}

.card-items:hover .intro {
    height: 240px;
}

@media screen and (max-width: 1200px){
    .intro{
        background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.8240546218487395) 0%, rgba(0,0,0,0.7456232492997199) 50%, rgba(0,0,0,0.6223739495798319) 87%, rgba(0,0,0,0.4290966386554622) 94%, rgba(255,255,255,0) 100%);
    }
    .card-clamp{
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .intro-title-panel{
        height: 70px;
    }
    .intro{
        height: 140px;
    }
    .card-items:hover .intro {
        height: 195px;
    }
    .intro-title{
        font-size:22px;
    }
    .sub-intro-title{
        font-size: 18px;
    }
    .intro-des{
        font-size:14px;
    }
}

@media screen and (max-width: 768px) {
    .intro{
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.8240546218487395) 0%, rgba(0,0,0,0.5131302521008403) 86%, rgba(255,255,255,0) 100%);
    }
    .intro-title-panel{
        height: 60px;
    }
    .card-clamp{
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .intro{
        height: 120px;
    }
    .card-items:hover .intro {
        height: 180px;
    }
    .intro-title{
        font-size:20px;
    }
    .sub-intro-title{
        font-size: 16px;
    }
    .intro-des{
        font-size:12px;
    }
}

.card-items:hover .intro-btn {
    opacity: 1;
    visibility: visible;
}

/* CARD HOVER END */

/* BUTTON SECTION */

.btn-readmore{
    background-color: #FBFDE7;
    color: #1C4231;
    text-align: center;
    width: 150px;
    height: 40px;
}
.btn-readmore:hover{
    background-color: #1C4231;
    color:#FBFDE7;
}

/* BUTTON END */

/* FOOTER SECTION */

.tahuraTransition{
    background-color: transparent;
    position: relative;
    /* height: 40vh; */
}

.tahuraFooter{
    background-image: url('assets/Images/tahuraFooter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    position: absolute; /* Positioning absolutely to the parent */
    bottom: 0; /* Align to the bottom of the parent */
    width: 100%; /* Ensure it takes full width */
}

#footer{
    background-color: #1C4231;
    /* height: 300px; */
    color: white;
}
/* @media screen and (max-width: 1200px){
    #footer{
        height: 500px;
    }
} */
#footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li a{
    text-decoration: none;
    color: white;
}
#footer a{
    text-decoration: none;
    color: white;
    
}
.social-ani{
    transition: 0.5s;
}
.social-ani:hover{
    transform: scale(1.5);
}

/* FOOTER END */

/* LOAD START */

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }
  
  @keyframes spinner-border {
    to {
      transform: rotate(360deg);
    }
  }

/* LOAD END */