.bg{
    background-color: white;
    background-image: url('../../assets/Images/line-background.png');
    background-repeat: no-repeat;
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; /* Fixed background */
    background-position: center; /* Center the background */ 

}

h4{
    margin-top: 10px;
    text-align: center;
    font-size:70px;
    color: white;
    background-color: #1C4231;
    border-radius: 15px;
}
