<div class="flora">
    <h1>FLORA</h1>
    <div class="container">
        <div class="row mb-5">
            <div *ngFor="let flora of floras" class="col-md-4 col-6 mt-4">
                <div class="card-items">
                    <img [src]="flora.photos.length > 0 ? getImageUrl(flora.photos[0]?.data) : getErrorImageUrl()" 
                    class="img-fluid" alt=" {{ flora.name }} Image" 
                    (error)="handleImageError($event, floras)">
                    <div class="intro">
                        <div class="intro-title-panel flex row align-items-end">
                            <small class="intro-title title-clamp">{{ flora.name }}</small>
                        </div>
                        <small class="sub-intro-title title-clamp">{{ flora.nameIlmiah }}</small>
                        <p class="intro-des card-clamp text-justify">
                            {{ flora.short_description }}
                        </p>
                        <a [routerLink]="'/detail-page/' + flora._id" class="btn btn-readmore intro-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>