<div *ngIf="loading" class="spinner">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="!loading">
    <div class="flora">
        <div class="container flora-content">
            <h1>FLORA</h1>

            <!-- Search Bar -->
            <div class="search-bar mt-4 mb-4">
                <input type="text" class="form-control" placeholder="Search Flora..." [(ngModel)]="searchTerm" />
            </div>

            <div class="row" style="padding-bottom: 50vh;">
                <div *ngFor="let flora of filteredFloras()" class="col-md-4 col-6 mt-4">
                    <div class="card-items">
                        <img [src]="flora.photos.length > 0 ? getImageUrl(flora.photos[0]?.data) : getErrorImageUrl()"
                            class="img-fluid" alt="{{ flora.name }} Image" (error)="handleImageError($event, flora)">
                        <div class="intro">
                            <div class="intro-title-panel flex row align-items-end">
                                <small class="intro-title title-clamp">{{ flora.name }}</small>
                                <small class="sub-intro-title title-clamp">({{ flora.nameIlmiah }})</small>
                            </div>
                            <p class="intro-des card-clamp text-justify">
                                {{ flora.short_description }}
                            </p>
                            <a [routerLink]="['/detail-page', 'flora', flora._id]"
                                class="btn btn-readmore intro-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
