<div class="contact-page-background contact-page">
    <div class="container contact-page-content pb-5">
        <div class="row contact">
            <div class="col-md-6">
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.4466563925935!2d115.18206387477701!3d-8.743975691306392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd24408979cf3df%3A0xa67d97d311b9cbf7!2sTahura%20Ngurah%20Rai!5e0!3m2!1sen!2sid!4v1721358930761!5m2!1sen!2sid"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-6 pt-4 contact-style align-items-center">
                <div>
                    <h2>KONTAK KAMI</h2>
                </div>
                <div>
                    <ul>
                        <li><a href="#"><i class="fa-regular fa-envelope"></i><span
                                    class="ms-3"></span>infodklh@baliprov.go.id</a></li>
                        <li><a href="#"><i class="fa-sharp fa-solid fa-phone-volume"></i><span class="ms-3"></span>(0361)
                                235036; 225663</a></li>
                        <li> <a
                                href="https://www.instagram.com/dklhprovbali?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i
                                    class="fa-brands fa-instagram"></i><span
                                    class="ms-3"></span>dklhprovbali</a></li>
                        <li> <a href="https://www.facebook.com/DKLHprovbali/?locale=id_ID" class="social-ani"><i
                                    class="fa-brands fa-square-facebook"></i><span
                                    class="ms-3"></span>Dinas Kehutanan Dan Lingkungan Hidup Provinsi Bali </a></li>
                        <li> <a href="https://x.com/DKLH_bali" class="social-ani"><i
                                    class="fa-brands fa-x-twitter"></i><span
                                    class="ms-3"></span>DKLH_bali</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>